$theme-1: #fe8285;
$theme-2: #004b9f;
$theme-3: #81548a;

$theme-1a: #fe8183e6;
$theme-2a: #004a9ee6;
$theme-3a: #82558be6;

$theme-1b: #fe828580;
$theme-2b: #004a9e80;
$theme-3b: #81548a80;

$black: #2f3640;



  